.popup__heading {
	max-width: 330px;
	height: 23px;
	margin: 34px auto 0 36px;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
}

@media (max-width: 800px) {
	.popup__heading {
		max-width: 238px;
		font-size: 18px;
		line-height: 22px;
		margin-left: auto;
		margin-top: 25px;
	}
}