.popup__inputs {
  border: 0;
  width: 358px;
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  padding: 0;
}
.popup__inputs:focus {
  outline: none;
}

.popup__inputs::placeholder {
  font-size: 14px;
  font-family: 'Inter';
  line-height: 20px;
  color: #00000051;
  border: 0;
}

@media (max-width: 643px) {
  .popup__inputs {
    width: 238px;
  }
}