.header__logo {
	max-width: 142px;
	height: 33px;
	margin-top: 5px;
	margin-bottom: 36px;
}

@media (max-width: 643px) {
	.header__logo {
		margin: 0;
		padding-bottom: 27px;
		width: 103.74px;
		height: 24.4px;
	}
}