.element__container {
	max-width: 246px;
	min-height: 23px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	margin: 21px 21px 31px 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}