.element__delete {
  visibility: hidden;
  width: 18px;
  height: 19px;
	position: absolute;
	top: 20px;
	right: 20px;
  background-image: url(../../../images/delete.svg);
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
	border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.element__delete:hover {
  opacity: 0.5;
}