.element__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  border: none;
  background-color: transparent;
  transition: opacity .3s ease;
  cursor: pointer;
  padding: 0;
}

.element__like:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
	.element__like:hover {
    opacity: 1;
  }
}